doctype html

head
	title Wish List
	script(type='text/javascript', src="http://code.jquery.com/jquery-1.10.1.min.js")
	script(type='text/javascript', src="/js/script.js")
	link(rel='stylesheet', href='/css/style.css')
body
	header
		img(id='logo' alt='logo' src='https://raw.github.com/codebar/planner/master/app/assets/images/logo.png')
	div#container
		h1 Wish List
		ol#items
		span.total
		input#item
		button#add-to-list Add to list
		
	footer
		div#content by @by_Codebar and @EleonoreMayola