doctype 5
html
	head
		title codebar.io - Exercise 1: Wish List
		include ./../static/jquery.js
		include ./../static/script.js
		include ./../static/style.css
	body
		header
			img(#logo src='https://raw.github.com/codebar/planner/master/app/assets/images/logo.png')
		div#container
			h1 Wish List
				ol#items
				span.total
				br
				input#item
				button#add-to-list Add to list
		
		footer
			div#content
				by @Codebar
